
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.iconContainerDesktop {
  display: none;
}

.desktop {
  display: none;
}

.desktopTick {
  display: none;
}

.desktopStar {
  display: none;
}

.desktopGreet {
  display: none;
}

.textContainer06.desktop {
  display: none;
}

body {
  height: 100%;
  max-width: fit-content;
  color: #FFF;
  font-Family: "Inter", "Unbounded", sans-serif;
  background: url('/images/bg_section_mobile_01.png'), lightgray 50% / cover no-repeat;
}

#sectionContainer01 {
  display: flex;
  flex-direction: column;
}

#sectionContainer02 {
  display: flex;
  flex-direction: column;
}

#sectionContainer05 {
  background: url('/images/bg_section_05.png'), lightgray 50% / cover no-repeat;
}

#tabbingSection {
  padding: 0 6vw;
}

.bgDark {
  background: #111;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 28px 5.3vw 26px 5.3vw;
}

.textWithBottom {
  width: fit-content;
}

.textWithBottom>span {
  width: fit-content;
}

.content01 {
  background: url('/images/bg_content_01.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
}

.content02 {
  background: url('/images/bg_content_02.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
}

.content03 {
  background: url('/images/bg_content_03.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
}

.content04 {
  background: url('/images/bg_content_04.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
}

.sectionContent>h1{
  max-width: 378px;
  font-weight: 300;
}

.sectionContent>p {
  max-width: 378px;
  color: #E4E4E4;
  font-size: .875rem;
  font-weight: 400;
}

header {
  display: flex;
  margin: 30px 6vw 0 6vw;
  border: 2px solid #fff;
}

header#menuList {
  flex-direction: column;
}

header>nav.brandName {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 13px 34px;
  border-right: 2px solid #fff;
  font-size: 1rem;
  font-family: "Unbounded";
  font-weight: 600;
}

header>nav#menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: .75rem;
  font-weight: 500;
  cursor: pointer;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuList {
  display: none;
}

#menuList>.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 22px 0;
  text-align: center;
  font-size: .75rem;
  font-weight: 500;
  cursor: pointer;
}

#menuList>.menu:not(:first-child) {
  border-top: 2px solid #fff;
}

.textContainer01 {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 73px;
  margin-right: 6vw;
  align-self: flex-end;
}

.textContainer02 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 56px;
  margin-left: 6vw;
}

.textContainer03 {
  margin-top: 68px;
}

.textContainer06 {
  display: flex;
  gap: 78px;
  padding: 48px 6vw 0 6vw;
}

.gradientText {
  background: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inactive {
  opacity: 0.3;
  cursor: pointer;
}

.inactiveContent {
  display: none;
}

.headText {
  font-family: 'Unbounded';
  font-size: 2rem;
  line-height: normal;
}

.headingText01 {
  font-weight: 250;
}

.headingText02 {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  max-width: 704px;
  padding-right: 6vw;
  font-weight: 300;
}

.headingText03 {
  font-weight: 300;
}

.subText {
  font-size: .75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subText01 {
  display: block;
  width: 82px;
}

.subText02 {
  display: block;
  width: 180px;
  font-family: 'Unbounded';
  font-weight: 400;
}

.subText03 {
  display: block;
  width: 216px;
  font-size: .875rem;
  font-weight: 400
}

.textWithUpper {
  display: inline-flex;
  margin: 0px 8px;
  flex-direction: column;
}


.textWithBottom {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
}

.tick {
  font-family: 'Unbounded';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -6.4px;
    background: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upperTick {
  margin-bottom: -26px;
}

.shortcutContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 57px;
  padding: 45px 0;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.70);
  white-space: nowrap;
  font-family: 'Unbounded';
  font-size: .75rem;
}

.shortcutItem {
  padding-bottom: 7px;
  border-bottom: 2px solid #FFF;
  cursor: pointer;
}

.minusMargin {
  margin-left: -4px;
}

.iconContainer {
  display: flex;
}

.textContainer04 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 6vw 31px 6vw;
  color: #E4E4E4;
  font-size: .875rem;
  font-weight: 400;
}

.textContainer05 {
  padding: 64px 6vw 31px 6vw;
  color: #E4E4E4;
  font-size: .875rem;
  font-weight: 400;
}

.yearText {
  display: inline-block;
  margin-bottom: 25px;
  font-size: .75rem;
}

.paragraphContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 45px;
  padding-bottom: 45px;
}

.tabHead {
  display: flex;
  border: 2px solid #FFF;
}

.tabItem:nth-child(even) {
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
}

.tabItem {
  flex: 1;
  padding: 6vw 14px;
  font-family: Unbounded;
  font-size: 1rem;
  font-weight: 300;
}

.tabContent {
  padding: 24px 16px;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.tabContent>p {
  margin-top: 24px;
  color: #E4E4E4;
  font-size: .875rem;
  font-weight: 400;
}

.tabContent>p:nth-child(2){
  width: 182px;
}

.paragraphWidth {
  width: 249px;
}

.sliderItem {
  padding: 25px 6vw;
  color: #E4E4E4;
  font-size: .875rem;
  font-weight: 400;
}

.sliderParagraph {
  width: 267px;
  margin-top: 24px;
}

.slider01 {
  background: url('/images/bg_slider_01.png'), lightgray -400.555px -536.517px / 261.142% 587.167% no-repeat;
  background-size: cover;
}

.slider02 {
  background: url('/images/bg_slider_02.png'), lightgray -400.555px -536.517px / 261.142% 587.167% no-repeat;
  background-size: cover;
}

.slider03 {
  background: url('/images/bg_slider_03.png'), lightgray -400.555px -536.517px / 261.142% 587.167% no-repeat;
  background-size: cover;
}

.slider04 {
  background: url('/images/bg_slider_04.png'), lightgray -400.555px -536.517px / 261.142% 587.167% no-repeat;
  background-size: cover;
}

.slider05 {
  background: url('/images/bg_slider_05.png'), lightgray -400.555px -536.517px / 261.142% 587.167% no-repeat;
  background-size: cover;
}

.slider06 {
  background: url('/images/bg_slider_06.png'), lightgray -400.555px -536.517px / 261.142% 587.167% no-repeat;
  background-size: cover;
}



.sliderWrapper.hide {
  display: none;
}

.sliderPagination {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
  padding-bottom: 60px;
}

.paginationItem {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #D9D9D9;
}

.currentPage {
  background: #B877FF;
}

.footerBrand {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 13px 34px;
  font-size: 1rem;
  font-family: "Unbounded";
  font-weight: 600;
}

.footerBrandText {
  display: flex;
  align-self: center;
  font-family: Unbounded;
  font-size: .375rem;
  font-weight: 600;
  width: 76px;
}

.brandContainer {
  display: flex;
}

.brandContainer {
  display: flex;
  margin: 0 6vw 0 6vw;
  border: 2px solid #fff;
}

.footerMenu {
  display: flex;
  justify-content: space-between;
  margin: 0 6vw 0 6vw;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.menuText {
  padding: 22px 37px;
  border-right: 2px solid #FFF;
}

.privacyText {
  margin: auto;
}

footer {
  padding-bottom: 25px;
}

@media screen and (min-width: 378px) {

  body {
    background: url('/images/bg_desktop.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
  }

  
  #sectionContainer05 {
    background: url('/images/bg_section_desktop_05.png'), lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  #sectionContainer05>.textContainer05>h1>.textWithBottom {
    margin: 0;
  }

  #sectionContainer03 {
    display: flex;
    justify-content: center;
    padding: 9vw 0;
    flex-wrap: wrap;
    background: #111;
  }

  #sectionContainer05>.textContainer06>.textContainer02 {
    margin-top: 0;
    margin-left: 0;
  }

  #sectionContainer06>.textContainer04 {
    flex-direction: row;
    justify-content: space-between;
    padding: 6vw;
    margin:0;
    width: auto;
  }

  #sectionContainer06>.textContainer04>.paragraphContainer {
    width: 432px;
  }

  #sectionContainer06>.textContainer04>.iconContainer {
    height: 29px;
  }

  .sectionContent {
    height: fit-content;
    padding: 6vw 4vw 4vw 4vw;
  }

  .content01 {
    background: url('/images/bg_content_desktop_01.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
  }

  .content02 {
    background: url('/images/bg_content_desktop_02.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
  }

  .content03 {
    background: url('/images/bg_content_desktop_03.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
  }

  .content04 {
    background: url('/images/bg_content_desktop_04.png'), lightgray -190.207px -357.678px / 167.686% 587.167% no-repeat;
  }
  
  .tabItem {
    padding: 3vw;
  }

  
  /* .sectionContent>h1{
    font-size: 2.5rem;
  } */
}

@media screen and (min-width: 1200px ) {
  
  body {
    background-size: contain;
  }

  header {
    margin: 48px 96px 0 96px;
  }

  .textContainer06.desktop {
    display: flex;
  }

  
  #sectionContainer05>.textContainer05>h1.headingText03 {
    width: 709px;
  }

  #sectionContainer05>.textContainer05 {
    display: flex;
    align-items: end;
    padding-bottom: 6vw;
  }

  #sectionContainer06>.textContainer05 {
    width: 495px;
    padding: 6vw;
  }

  #sectionContainer05>.textContainer06 {
    display: flex;
    justify-content: space-between;
    padding: 6vw 22vw 14vw 6vw;
  }


  .desktopStar {
    display: block;
    padding-left: 6vw;
    margin-top: -40px;
  }

  .desktopTick {
    display: inline;
  }
  
  #sectionContainer02 {
    padding: 4vw 0 9vw 0;
  }

  #sectionContainer03 {
    display: flex;
    justify-content: center;
  }
  
  .textContainer01 {
    display: flex;
    align-self: self-start;
    margin-left: 96px;
    margin-top: 150px;
  }
  
  .textContainer02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
    margin-left: 96px;
    margin-top: 0;
  }

  .textContainer03 {
    margin-right: 96px;
  }

  .headingText01 {
    font-size: 1.688rem;
  }

  .headingText02 {
    font-size: 3.375rem;
  }

  .headingText03 {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    max-width: 780px;
    padding-right: 6vw;
    font-weight: 300;
    width: 780px;
    font-size: 3.375rem;
  }

  .subText01 {
    font-size: .75rem;
  }

  .subText02 {
    width: 300px;
    margin-left: -350px;
    font-size: 1rem;
  }

  .headTextContainer {
    display: flex;
    align-items: last baseline;
  }

  .textContainer03 {
    align-self: last baseline;
  }

  .textContainer04 {
    align-self: center;
    width: 433px;
    padding: 64px 6vw 31px 223px;
    margin-right: 12vw;
    color: #E4E4E4;
    font-size: .875rem;
    font-weight: 400;
  }

  .textContainer05 {
    padding: 0 6vw;
    color: #E4E4E4;
    font-size: .875rem;
    font-weight: 400;
  }
  
  .textContainer06 {
    padding: 75px 0;
  }

  .yearText {
    white-space: nowrap;
  }

  .textContainer05>div.paragraphContainer>p {
    width: 373px;
  }

  .mobile {
    display: none;
  }

  .paragraphContainer01 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: -120px;
  }

  .paragraphContainer {
    padding-bottom: 0;
    margin-top: 0;
  }

  .paragraphDesktop {
    width: 432.346px;
  }

  .desktopSince {
    display: flex;
    justify-content: center;
    width: 241.193px;
    height: 276px;
    flex-shrink: 0;
    background: #202020;
  }

  .test {
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
  }

  .iconContainerDesktop {
    display: block;
    align-self: flex-end;
  }

  .shortcutContainer {
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 57px;
    padding: 45px 0;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.70);
    white-space: nowrap;
    font-family: 'Unbounded';
    font-size: .75rem;
  }

  .textWithBottom {
    margin: 0 10px;
  }

  #tabbingSection {
    padding-left: 223px;
  }

  .tabItem {
    font-size: 1.875rem;
  }

  .tabContent {
    padding: 24px 3vw;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
  }

  .tabContent>p {
    margin-top: 24px;
    color: #E4E4E4;
    font-size: .875rem;
    font-weight: 400;
  }

  .tabContent>.paragraphContainer {
    flex-direction: row;
    margin-top: 3vw;
  }

  .tabContent>.paragraphContainer>p:nth-child(1){
    width: 182px;
  }

  .tabContent>.paragraphContainer>p:nth-child(2){
    width: 334px;
  }

  .sliderContainer {
    position: relative;
    overflow: hidden;
  }

  .sliderItem {
    flex: 1;
    padding: 2vw 0 2vw 6vw;
  }

  .sliderItem>h1.headingText03 {
    width: 300px;
  }

  .sliderWrapper {
    display: flex;
    transition: transform 0.5s;
  }

  .arrowWrapper {
    display: flex;
    justify-content: flex-end;
  }

  #sectionContainer07 {
    padding: 0 6vw;
  }

  .arrowRight {
    cursor: pointer;
  }

  .arrowLeft {
    cursor: pointer;
  }
}