
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-Family: "Inter", "Unbounded", sans-serif;
  background: url('../images/bg_section_mobile_01.png'), lightgray 50% / cover no-repeat;
}

#sectionContainer01 {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  margin: 30px 20px 0 20px;
  border: 2px solid #fff;
}

header#menuList {
  flex-direction: column;
}

header>nav.brandName {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 13px 34px;
  border-right: 2px solid #fff;
  font-size: 1rem;
  font-family: "Unbounded";
  font-weight: 600;
}

header>nav#menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: .75rem;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
}

header {
  color: #fff;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuList {
  display: none;
}

#menuList>.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 22px 0;
  text-align: center;
  font-size: .75rem;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
}

#menuList>.menu:not(:first-child) {
  border-top: 2px solid #fff;
}

.textContainer01 {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 73px;
  margin-right: 20px;
  align-self: flex-end;
}

.textContainer02 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 56px;
  margin-left: 20px;
}

.textContainer03 {
  margin-top: 68px;
  margin-left: 20px;
}

.gradientText {
  background: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headText {
  font-family: 'Unbounded';
  font-size: 2rem;
  line-height: normal;
}

.headingText01 {
  font-weight: 250;
}

.headingText02 {
  font-weight: 300;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.subText {
  display: block;
  font-size: .75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subText01 {
  width: 82px;
}

.subText02 {
  width: 180px;
  color: #FFF;
  font-family: 'Unbounded';
  font-weight: 400;
}

.subText03 {
  width: 216px;
  font-size: .875rem;
  font-weight: 400
}

.textWithUpper {
  display: flex;
  margin: 0px 8px;
  flex-direction: column;
}

.upperTick {
  margin-bottom: -30px;
  font-family: 'Unbounded';
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -6.4px;
  background: linear-gradient(91deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.shortcutContainer {
  display: flex;
  align-self: flex-end;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 57px;
  padding: 46px 20px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.70);
  white-space: nowrap;
  font-family: 'Unbounded';
  font-size: .75rem;
}

.shortcutItem {
  padding-bottom: 7px;
  border-bottom: 2px solid #FFF;
  cursor: pointer;
}